<%- include ('partials/head') %>
<body>
    <main>
        <section>
        <div class="typewriter"> 
            <h1>Bertrand Tang</h1></div>
            <div class="typewriter2">
                <h2>Web Developer since <span>2023</span></h2></div>
        
        <a href="#"><button type="button">Cross the code</button></a>
        </section>
    </main>
    <%- include ('partials/matrix') %>
    <%- include ('partials/footer') %>
