<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/404.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <title>⚠️ 404 ⚠️</title>
</head>

<body>
  <main>
    <img id="logo" src="/img/logo_long.png" alt="" onclick="window.location.href ='/';">
    <section id="window__outer">
      <section class="window">
        <div class="window-title-bar">
          <h1 class="window-title">Page 404 Not Found ⚠️</h1>
          <div class="window-buttons">
              <button class="window-button maximize" onclick="window.open('https://youtu.be/dQw4w9WgXcQ', '_blank')"></button>
              <button class="window-button minimize"></button>
              <button class="window-button close" onclick="window.location.href ='/';"></button>
            </div>
          </div>
        <section class="window-content">
          <label class="switch">
            <input id="toggle" type="checkbox">
            <div class="button">
              <div class="light"></div>
              <div class="dots"></div>
              <div class="characters">MENU</div>
              <div class="shine"></div>
              <div class="shadow"></div>
            </div>
          </label>

          <div id="error_title" class="glitch" data-text="404 NOT FOUND">404 NOT FOUND</div>
          <p id="message">
            Désolé, la page que vous cherchez <em>n'existe pas</em>
          </p>

          <div class="nav">
            <nav>
              <button id="Contact" class="button__nav"
                onclick="window.location.href = '/contact';"><span>Contact</span></button><br>
              <button id="Projets" class="button__nav"
                onclick="window.location.href ='/projets';"><span>Projets</span></button><br>
              <button id="Compétences" class="button__nav"
                onclick="window.location.href = '/skills';"><span>Skills</span></button><br>
              <button id="CV" class="button__nav"
                onclick="window.location.href = '/carriere';"><span>Carrière</span></button>
            </nav>
          </div>
        </section>
  </main>
</body>
<script src="/js/menu_burger.js"></script>
<%- include ('partials/matrix') %>
<%- include ('partials/footer') %>