<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/carriere.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"  />
    <title>Carrière 🗄️</title>
  </head>

  <body>
    <main>
      <a href="/">
        <img id="logo" src="/img/logo_long.png" alt="">
      </a>
      <section id="window__outer">
        <section class="window">
          <div class="window-title-bar">
            <h1 class="window-title">Ma carrière 🗄️</h1>
             <div class="window-buttons">
              <a
                href="https://youtu.be/dQw4w9WgXcQ"
                target="_blank"
                ><button class="window-button maximize"></button
              ></a>
              <button class="window-button minimize"></button>
              <a href="/"><button class="window-button close"></button></a>
            </div>
          </div>
          <section class="window-content">

            <label class="switch">
              <input id="toggle" type="checkbox">
            <div class="button">
              <div class="light"></div>
              <div class="dots"></div>
              <div class="characters">MENU</div>
              <div class="shine"></div>
              <div class="shadow"></div>
            </div>
            </label>

            <p id="message"> Voici les projets sur lesquels j'ai pu travailler, dans le cadre de la formation mais également en marge de celle-ci : </p>

            <h2 id="education_section">EDUCATION</h2>

            <div class="card">
              <div class="content">
                <p class="heading" id="title_of_training">Formation Développeur Web Full Stack <em>(JavaScript & Node.js)</em></p>
            <section class="information__section">
                <p class="date">Juin 2023 — Novembre 2023<br></p>
                <a onclick="window.open('https://oclock.io/formations/developpeur-web-fullstack-javascript', '_blank')">
                  <p class="school">École Tech O'clock</p>
                </a><br>
                <div class="skills__section">
                  <p class="skills">
                  • HTML & CSS <br>
                  • JavaScript Vanilla, Node.js & Express.js <br>
                  • postgresql, SQL & Sequelize, database : MCD, MLD & POO <br>
                  • API REST, CRUD & Introduction à la Cybersécurité <br>
                  • Strapi, NoSQL, MongoDB, Docker & Three.js <br>
                  • RegEx, Jest, pgadmin, Sqitch, joi, Swagger, Winston <br>
                  • graphql, Apollo server, Websockets <br>
                  • Projet d’Application Web Mobile de Planification de repas <br>
                </p>
                </div>
            </section>
            <button class="btn" onclick="window.open('https://oclock.io/formations/developpeur-web-fullstack-javascript', '_blank')">En savoir plus</button>
              </div>
            </div>

            <div class="card">
              <div class="content">
                <p class="heading" id="title_of_training">Master Pro Bilingue (Anglophone) "<em>Intelligence & Innovation Culturelles</em>"</p>
            <section class="information__section">
                <p class="date">2016 — 2018<br></p>
                <a onclick="window.open('https://odf.u-paris.fr/fr/offre-de-formation/master-XB/arts-lettres-langues-ALL/langues-litteratures-et-civilisations-etrangeres-et-regionales-etudes-anglophones-K2VO577S/master-langues-litteratures-et-civilisations-etrangeres-et-regionales-parcours-etudes-anglophones-intelligence-et-innovation-culturelles-JRQKZU1O.html', '_blank')">
                  <p class="school">Université Paris 7 Denis Diderot</p>
                </a><br>
                <div class="skills__section">
                  <p class="skills">
                    • Communication & Marketing <br>
                    • Langue Anglaise & Culture Anglophone <br>
                    • Capacités Analytique & Sémiologique <br>
                </p>
                </div>
            </section>
            <button class="btn" onclick="window.open('https://odf.u-paris.fr/fr/offre-de-formation/master-XB/arts-lettres-langues-ALL/langues-litteratures-et-civilisations-etrangeres-et-regionales-etudes-anglophones-K2VO577S/master-langues-litteratures-et-civilisations-etrangeres-et-regionales-parcours-etudes-anglophones-intelligence-et-innovation-culturelles-JRQKZU1O.html', '_blank')">
            En savoir plus </button>
              </div>
            </div>

            <div class="card">
              <div class="content">
                <p class="heading" id="title_of_training">Licence Littérature Civilisation Étrangère & Régionale <em>Anglais</em></p>
            <section class="information__section">
                <p class="date">2013 — 2016<br></p>
                <a onclick="window.open('https://odf.u-paris.fr/fr/offre-de-formation/licence-XA/arts-lettres-langues-ALL/langues-litteratures-et-civilisations-etrangeres-et-regionales-etudes-anglophones-KL9E1Z5A/licence-langues-litteratures-civilisations-etrangeres-et-regionales-llcer-parcours-anglais-J8WS3GE9.html', '_blank')">
                  <p class="school">Université Paris 7 Denis Diderot</p>
                </a><br>
                <div class="skills__section">
                  <p class="skills">

                    • Littérature & Culture Anglophone <br>
                    • Traduction - Version Anglais - Français <br>
                    • Expression Orale & Rédaction en Anglais <br>
               
                </p>
                </div>
            </section>
            <button class="btn" onclick="window.open('https://odf.u-paris.fr/fr/offre-de-formation/licence-XA/arts-lettres-langues-ALL/langues-litteratures-et-civilisations-etrangeres-et-regionales-etudes-anglophones-KL9E1Z5A/licence-langues-litteratures-civilisations-etrangeres-et-regionales-llcer-parcours-anglais-J8WS3GE9.html', '_blank')">En savoir plus</button>
              </div>
            </div>

            <div class="nav">
              <div class="nav-wrapper">
                <nav>
                  <button id="Contact" class="button__nav" onclick="window.location.href = '/contact';"><span>Contact</span></button><br>
                  <button id="Linkedin" class="button__nav" onclick="window.open('https://www.linkedin.com/in/bertrandtang/', '_blank')"><span>Linkedin</span></button><br>
                  <button id="Github" class="button__nav" onclick="window.open('https://github.com/BertrandTang', '_blank')"><span>Github</span></button><br>
                  <button id="Projets" class="button__nav" onclick="window.location.href ='/projets';"><span>Projets</span></button><br>
                  <button id="Compétences" class="button__nav" onclick="window.location.href = '/skills';"><span>Skills</span></button><br>
                  <button id="Profil" class="button__nav" onclick="window.location.href = '/profil';"><span>Profil</span></button>
                </nav>
              </div>
            </div>
                <!-- Flèche de défilement -->
  <div class="scroll-down-arrow" onclick="scrollToTop()">↑</div>
</section>
    </main>
    
  </body>
  <script src="/js/menu_burger.js"></script>
  <script src="/js/scroll_top.js"></script>
  <%- include ('partials/matrix') %> 
  <%- include ('partials/footer') %>
</html>
