<!DOCTYPE html>
<html lang="fr">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            
            <section>
                <div class="typewriter"> 
                    <h1>Bertrand Tang <em>贝潼</em></h1>
                </div>
                
                <div class="typewriter2">
                    <h2>Dev. Web Full-Stack de père en fils depuis <span>2023</span></h2>
                </div>
            </section>
            
            <div class="container">
                <div class="container__button">
                    <button type="button" onclick="window.location.href =`/profile`">Cross the code</button></a>
                </div>
            </div>
            
        </main>

        <label class="switch">
            <input checked="checked" type="checkbox">
            <div class="button">
              <div class="light"></div>
              <div class="dots"></div>
              <div class="characters"></div>
              <div class="shine"></div>
              <div class="shadow"></div>
            </div>
          </label>
          
            <%- include ('partials/matrix') %>
        <%- include ('partials/footer') %>
