<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section>
        <div class="typewriter"> 
            <h1>Bertrand Tang</h1></div>
            <div class="typewriter2">
                <h2>Web Developer Full-Stack since <span>2023</span></h2></div>
        
        <a href="/profile"><button type="button">Cross the code</button></a>
        </section>
    </main>
    <%- include ('partials/matrix') %>
    <%- include ('partials/footer') %>
