<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/profile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"  />

    <title>Profile 👤</title>
  </head>

  <body>
    <main>
      <h1>OS.X.2050</h1>
      <section id="window__outer">
        <section class="window">
          <div class="window-title-bar">
            <h2 class="window-title">Welcome to my introduction 👋</h2>
            <div class="window-buttons">
              <a
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                target="_blank"
                ><button class="window-button maximize"></button
              ></a>
              <button class="window-button minimize"></button>
              <a href="/"><button class="window-button close"></button></a>
            </div>
          </div>
          <section class="window-content">
            <p id="hello">Hello World !</p>
            <p id="message">
              Je m'appelle <em>Bertrand Tang</em>, je suis un
              padawan sur la voie du <em>Développeur Web Fullstack</em> depuis
              <em>Juin 2023</em> ! <br />
              <br />
              Actuellement <em>en fin de formation</em>, je suis en recherche
              active d'un poste dans lequel faire mes armes et gagner en
              expérience. <br />
              <br />
              Celle-ci prenant fin le <em>17.11.2023</em>, je ne serai
              disponible qu'après cette date. Je reste cependant joignable et
              disposé pour des potentiels entretiens ou pour répondre à vos
              questions.
            </p>
          <ul id="buttons_section">
            <li><button id="Contact" class="buttons__profile" onclick="window.open('#', '_blank')""><span>Contact</span></button></li>
            <li><button id="Linkedin" class="buttons__profile" onclick="window.open('https://www.linkedin.com/in/bertrandtang/', '_blank')"><span>Linkedin</span></button></li>
            <li><button id="Github" class="buttons__profile" onclick="window.open('https://github.com/BertrandTang', '_blank')"><span>Github</span></button></li>
            <li><button id="Projets" class="buttons__profile" onclick="window.open('#', '_blank')"><span>Projets</span></button></li>
            <li><button id="Compétences" class="buttons__profile" onclick="window.location.href = '/skills';""><span>Skills</span></button></li>
          </ul>
      </section>
    </main>
    <script src="/js/buttons__profile.js"></script>

    <%- include ('partials/matrix') %> <%- include ('partials/footer') %>
  </body>
</html>
