<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>Profile</title>
</head>

<body>
    <main>
        <h1> OS.X.2050 </h1>
        <section id="window__outer">
            <section class="window">
                <div class="window-title-bar">
                    <h2 class="window-title">Welcome to my code 👋 </h2>
                    <div class="window-buttons">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><button
                                class="window-button maximize"></button></a>
                        <button class="window-button minimize"></button>
                        <a href="/"><button class="window-button close"></button></a>
                    </div>
                </div>
                <section class="window-content">
                <p id="hello">Salutations !</p>
                <p id="message">Je suis <span>Bertrand Tang</span>, un padawan sur la voie du développement web
                            depuis <em>2023</em> !</p>
                        </section>
            </section>
        </section>
    </main>
    <script src="/js/buttons__profile.js"></script>
</body>

</html>
<%- include ('partials/matrix') %>
    <%- include ('partials/footer') %>