<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/projets.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Projets 📑</title>
  </head>

  <body>
    <main>
     <img id="logo" src="/img/logo_long.png" alt="" onclick="window.location.href ='/';">
      <section id="window__outer">
        <section class="window">
          <div class="window-title-bar">
            <h1 class="window-title">Mes projets 🗂️</h1>
            <div class="window-buttons">
              <button class="window-button maximize" onclick="window.open('https://youtu.be/dQw4w9WgXcQ', '_blank')"></button>
              <button class="window-button minimize"></button>
              <button class="window-button close" onclick="window.location.href ='/';"></button>
            </div>
          </div>
          <section class="window-content">

            <label class="switch">
              <input id="toggle" type="checkbox">
            <div class="button">
              <div class="light"></div>
              <div class="dots"></div>
              <div class="characters">MENU</div>
              <div class="shine"></div>
              <div class="shadow"></div>
            </div>
            </label>

            <p id="message"> Voici <em>les projets</em> sur lesquels j'ai pu travailler, dans <em>le cadre de ma formation</em> mais <em>aussi en marge de celle-ci</em> : </p>
            <section class="projects__section">

              <div class="thumbnail">
                <img src="/img/burgerTrex.png" alt="">
                <div class="thumbnail__content">
                  <p class="thumbnail__title">Dino Diner</p>
                  <p class="thumbnail__description">Projet de fin de formation, nous voulions créer une application web mobile de planification de repas qui permet d'exporter des listes de courses selon les recettes assignées à une semaine.
                    Le MVP permet à un utilisateur de s'inscrire,  de s'authentifier, de générer un repas par jour. [Vidéo du projet à venir]</p>
                </div>
              </div>
  

            <div class="thumbnail">
              <img src="/img/prince_fae.png" alt="">
              <div class="thumbnail__content">
                <p class="thumbnail__title">Stable Diffusion</p>
                <p class="thumbnail__description"> Les IA de génération d'images m'ont toujours intrigués et j'ai récemment franchi le pas et ai testé Stable Diffusion qui est une IA générative d'image open-source. Cliquez sur "en voir plus" pour voir quelques-unes de mes générations</p>
                <button class="btn" onclick="window.location.href = '/stablediffusion';">
                  En voir plus </button>
              </div>
            </div>

            <div class="thumbnail">
              <img src="/img/calculatrice.png" alt="">
              <div class="thumbnail__content">
                <p class="thumbnail__title">Calculatrice (JS)</p>
                <p class="thumbnail__description"> Premier projet d'une série de challenge de 40 projets à faire pour débutant développeur web. Cliquez sur le bouton pour tester la calculatrice !</p>
                <button class="btn" onclick="window.open('https://bertrandtang.github.io/calculator_project/', '_blank')">
                  En voir plus </button>
              </div>
            </div>

            <div class="thumbnail">
              <img src="/img/quizz.png" alt="">
              <div class="thumbnail__content">
                <p class="thumbnail__title">Quizz App (JS)</p>
                <p class="thumbnail__description"> Deuxième projet d'une série de challenge de 40 projets à faire pour débutant développeur web. Cliquez sur le bouton pour vous frotter au quizz !</p>
                <button class="btn" onclick="window.open('https://bertrandtang.github.io/quizz_app_project/', '_blank')">
                  En voir plus </button>
              </div>
            </div>

            <div class="thumbnail">
              <img src="/img/shifumi.png" alt="">
              <div class="thumbnail__content">
                <p class="thumbnail__title">Shifumi (JS)</p>
                <p class="thumbnail__description"> Troisième projet d'une série de challenge de 40 projets à faire pour débutant développeur web. Cliquez sur le bouton pour essayer ma version du shifumi / pierre feuille ciseaux !</p>
                <button class="btn" onclick="window.open('https://bertrandtang.github.io/shifumi_project/', '_blank')">
                  En voir plus </button>
              </div>
            </div>

            <div class="thumbnail">
              <img src="/img/poketown.png" alt="">
              <div class="thumbnail__content">
                <p class="thumbnail__title">PokéTown (JS)</p>
                <p class="thumbnail__description"> Projet d'un jeu pokémon-like sur navigateur, projet en cours de développement. Le jeu n'est pas disponible sur mobile</p>
                <button class="btn" onclick="window.open('https://bertrandtang.github.io/PokemonTown_Project/', '_blank')">
                  En voir plus </button>
              </div>
            </div>

          </section>
            

            <div class="nav">
                <nav>
                  <button id="Contact" class="button__nav" onclick="window.location.href = '/contact';"><span>Contact</span></button><br>
                  <button id="Profil" class="button__nav" onclick="window.location.href ='/profil';"><span>Profil</span></button><br>
                  <button id="Compétences" class="button__nav" onclick="window.location.href = '/skills';"><span>Skills</span></button><br>
                  <button id="CV" class="button__nav" onclick="window.location.href = '/carriere';"><span>Carrière</span></button>
                </nav>
            </div>
                <!-- Flèche de défilement -->
  <div class="scroll-up-arrow" onclick="scrollToTop()">↑</div>
</section>
    </main>
    
  </body>
  <script src="/js/menu_burger.js"></script>
  <script src="/js/scroll_top.js"></script>
  <%- include ('partials/matrix') %> 
  <%- include ('partials/footer') %>
</html>
