<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/skills.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"/>
    <title>Skills 🛠️</title>
  </head>

  <body>
    <main>
      <h1>OS.X.2050</h1>
      <section id="window__outer">
        <section class="window">
          <div class="window-title-bar">
            <h2 class="window-title">My Skills 🛠️</h2>
            <div class="window-buttons">
              <a
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                target="_blank"
                ><button class="window-button maximize"></button
              ></a>
              <button class="window-button minimize"></button>
              <a href="/"><button class="window-button close"></button></a>
            </div>
          </div>
          <section class="window-content">
            <p id="hello">Voici <em>les technologies</em> que j'ai abordé pendant ma formation à l'<em>École O'clock</em> :</p>
            <ul id="list_techno">
              <li class="icons" id="html"><a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5" target="_blank"><img src="/img/html.png" alt=""></a></li>
              <li class="icons" id="css"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><img src="/img/css.png" alt=""></a></li>
              <li class="icons" id="javascript"><a href="https://www.javascript.com/" target="_blank"><img src="/img/javascript.png" alt=""></a></li>
              <li class="icons" id="sql"><a href="https://sql.sh/" target="_blank"><img src="/img/sql.png" alt=""></a></li>
              <li class="icons" id="nodejs"><a href="https://nodejs.org/en" target="_blank"><img src="/img/nodejs.png" alt=""></a></li>
              <li class="icons" id="expressjs"><a href="https://expressjs.com/" target="_blank"><img src="/img/expressjs.png" alt=""></a></li>
              <li class="icons" id="postgreSQL-logo"><a href="https://www.postgresql.org/" target="_blank"><img src="/img/postgreSQL-logo.png" alt=""></a></li>
              <li class="icons" id="sqitch"><a href="https://sqitch.org/" target="_blank"><img src="/img/sqitch.png" alt=""></a></li>
              <li class="icons" id="threejs"><a href="https://threejs.org/" target="_blank"><img src="/img/threejs.png" alt=""></a></li>
              <li class="icons" id="jest"><a href="https://jestjs.io/" target="_blank"><img src="/img/jest.png" alt=""></a></li>
              <li class="icons" id="graphql"><a href="https://graphql.org/" target="_blank"><img src="/img/graphql.png" alt=""></a></li>
              <li class="icons" id="apollo"><a href="https://www.apollographql.com/" target="_blank"><img src="/img/apollo.svg" alt=""></a></li>
              <li class="icons" id="mongodb"><a href="https://www.mongodb.com/fr-fr" target="_blank"><img src="/img/mongodb.png" alt=""></a></li>
              <li class="icons" id="strapi"><a href="https://strapi.io/" target="_blank"><img src="/img/strapi.png" alt=""></a></li>
              <li class="icons" id="swagger"><a href="https://swagger.io/" target="_blank"><img src="/img/swagger.png" alt=""></a></li>
              <li class="icons" id="npm"><a href="https://www.npmjs.com/" target="_blank"><img src="/img/npm.png" alt=""></a></li>
              <li class="icons" id="docker"><a href="https://www.docker.com/" target="_blank"><img src="/img/docker.svg" alt=""></a></li>
            </ul>
          <ul id="buttons_section">
            <li><button id="Contact" class="buttons__profile" onclick="window.open('#', '_blank')""><span>Contact</span></button></li>
            <li><button id="Linkedin" class="buttons__profile" onclick="window.open('#', '_blank')"><span>Linkedin</span></button></li>
            <li><button id="Github" class="buttons__profile" onclick="window.open('https://github.com/BertrandTang', '_blank')"><span>Github</span></button></li>
            <li><button id="Projets" class="buttons__profile" onclick="window.open('#', '_blank')"><span>Projets</span></button></li>
            <li><button id="Profile" class="buttons__profile" onclick="window.location.href = '/profile';"><span>Profile</span></button></li>
          </ul>
      </section>
    </main>
    <%- include ('partials/matrix') %> 
    <%- include ('partials/footer') %>
  </body>
</html>
