<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/skills.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Compétences 🛠️</title>
  </head>

  <body>
    <main>
        <img id="logo" src="/img/logo_long.png" alt="" onclick="window.location.href ='/';">
    <section id="window__outer">
      <section class="window">
        <div class="window-title-bar">
            <h1 class="window-title">Mes compétences 🛠️</h1>
            <div class="window-buttons">
              <button class="window-button maximize" onclick="window.open('https://youtu.be/dQw4w9WgXcQ', '_blank')"></button>
              <button class="window-button minimize"></button>
              <button class="window-button close" onclick="window.location.href ='/';"></button>
            </div>
          </div>
          <section class="window-content">

            <label class="switch">
              <input id="toggle" type="checkbox">
            <div class="button">
              <div class="light"></div>
              <div class="dots"></div>
              <div class="characters">MENU</div>
              <div class="shine"></div>
              <div class="shadow"></div>
            </div>
            </label>

            <p class="message">Voici <em>les technologies</em> que j'ai pu utiliser pendant ma formation à l'<em>École O'clock</em> et en dehors :</p>
            <ul class="list_techno">
              <li class="icons" id="html"><a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5" target="_blank"><img src="/img/logo/HTML.png" alt=""></a></li>
              <li class="icons" id="css"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><img src="/img/logo/CSS.png" alt=""></a></li>
              <li class="icons" id="javascript"><a href="https://www.javascript.com/" target="_blank"><img src="/img/logo/JavaScript.png" alt=""></a></li>
              <li class="icons" id="sql"><a href="https://sql.sh/" target="_blank"><img src="/img/logo/SQL.png" alt=""></a></li>
              <li class="icons" id="nodejs"><a href="https://nodejs.org/en" target="_blank"><img src="/img/logo/nodejs.png" alt=""></a></li>
              <li class="icons" id="expressjs"><a href="https://expressjs.com/" target="_blank"><img src="/img/logo/expressjs.png" alt=""></a></li> 
              <li class="icons" id="sequelize"><a href="https://sequelize.org/" target="_blank"><img src="/img/logo/sequelize.png" alt=""></a></li>
              <li class="icons" id="postgreSQL-logo"><a href="https://www.postgresql.org/" target="_blank"><img src="/img/logo/postgreSQL-logo.png" alt=""></a></li>
              <li class="icons" id="sqitch"><a href="https://sqitch.org/" target="_blank"><img src="/img/logo/sqitch.png" alt=""></a></li>
              <li class="icons" id="threejs"><a href="https://threejs.org/" target="_blank"><img src="/img/logo/threejs.png" alt=""></a></li>
              <li class="icons" id="jest"><a href="https://jestjs.io/" target="_blank"><img src="/img/logo/jest.png" alt=""></a></li>
              <li class="icons" id="graphql"><a href="https://graphql.org/" target="_blank"><img src="/img/logo/graphql.png" alt=""></a></li>
              <li class="icons" id="apollo"><a href="https://www.apollographql.com/" target="_blank"><img src="/img/logo/apollo.svg" alt=""></a></li>
              <li class="icons" id="mongodb"><a href="https://www.mongodb.com/fr-fr" target="_blank"><img src="/img/logo/mongodb.png" alt=""></a></li>
              <li class="icons" id="strapi"><a href="https://strapi.io/" target="_blank"><img src="/img/logo/strapi.png" alt=""></a></li>
              <li class="icons" id="swagger"><a href="https://swagger.io/" target="_blank"><img src="/img/logo/swagger.png" alt=""></a></li>
              <li class="icons" id="npm"><a href="https://www.npmjs.com/" target="_blank"><img src="/img/logo/npm.png" alt=""></a></li>
              <li class="icons" id="docker"><a href="https://www.docker.com/" target="_blank"><img src="/img/logo/docker.svg" alt=""></a></li>
              <li class="icons" id="github"><a href="https://github.com/" target="_blank"><img src="/img/logo/GitHub-logo.png" alt=""></a></li>
              <li class="icons" id="git"><a href="https://git-scm.com/" target="_blank"><img src="/img/logo/git.png" alt=""></a></li>
              <li class="icons" id="stablediffusion"><a href="https://github.com/AUTOMATIC1111/stable-diffusion-webui" target="_blank"><img src="/img/logo/stablediffusion.png" alt=""></a></li>
            </ul>

            <p class="message">Voici <em>les technologies</em> que j'aimerai apprendre :</p>

            <ul class="list_techno">
              <li class="icons" id="c#"><a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank"><img src="/img/logo/csharp.png" alt=""></a></li>
              <li class="icons" id="c++"><a href="https://cplusplus.com/" target="_blank"><img src="/img/logo/c++.png" alt=""></a></li>
              <li class="icons" id="unity"><a href="https://unity.com/fr" target="_blank"><img src="/img/logo/unity.png" alt=""></a></li>
              <li class="icons" id="python"><a href="https://www.python.org/" target="_blank"><img src="/img/logo/python.png" alt=""></a></li>
              <li class="icons" id="react"><a href="https://react.dev/" target="_blank"><img src="/img/logo/react.png" alt=""></a></li>
              <li class="icons" id="tensorflow"><a href="https://www.tensorflow.org/?hl=fr" target="_blank"><img src="/img/logo/tensorflow.png" alt=""></a></li>
              <li class="icons" id="unreal_engine"><a href="https://www.unrealengine.com/fr" target="_blank"><img src="/img/logo/unreal_engine.png" alt=""></a></li>
            </ul>
                  <div class="nav">
                <nav>
                  <button id="Contact" class="button__nav" onclick="window.location.href = '/contact';"><span>Contact</span></button><br>
                  <button id="Projets" class="button__nav" onclick="window.location.href ='/projets';"><span>Projets</span></button><br>
                  <button id="Profil" class="button__nav" onclick="window.location.href = '/profil';"><span>Profil</span></button><br>
                  <button id="CV" class="button__nav" onclick="window.location.href = '/carriere';"><span>Carrière</span></button>
                </nav>
            </div>
                <!-- Flèche de défilement -->
  <div class="scroll-up-arrow" onclick="scrollToTop()">↑</div>
</section>
    </main>
    
  </body>
  <script src="/js/menu_burger.js"></script>
  <script src="/js/scroll_top.js"></script>
  <%- include ('partials/matrix') %> 
  <%- include ('partials/footer') %>
</html>