<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/stablediffusion.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Mes générations 🌌</title>
  </head>

  <body>
    <main>
      <img id="logo" src="/img/logo_long.png" alt="" onclick="window.location.href ='/';">
      <section id="window__outer">
        <section class="window">
          <div class="window-title-bar">
            <h1 class="window-title">Mes générations d'images IA 🌌</h1>
            <div class="window-buttons">
              <button class="window-button maximize" onclick="window.open('https://youtu.be/dQw4w9WgXcQ', '_blank')"></button>
              <button class="window-button minimize"></button>
              <button class="window-button close" onclick="window.location.href ='/';"></button>
            </div>
          </div>
          <section class="window-content">

            <label class="switch">
              <input id="toggle" type="checkbox">
            <div class="button">
              <div class="light"></div>
              <div class="dots"></div>
              <div class="characters">MENU</div>
              <div class="shine"></div>
              <div class="shadow"></div>
            </div>
            </label>

            <p class="message">Voici quelques exemples d'images que j'ai pu <em>généré</em> avec <em>Stable Diffusion AUTOMATIC1111</em>  :</p>
            <ul class="artworks_list">
              <li class="artwork"><img src="/img/artworks/image18.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image13.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image16.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image2.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image14.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image15.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image3.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image20.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image21.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image17.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image1.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image9.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image10.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image8.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image7.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image4.png "alt=""></li>
              <li class="artwork"><img src="/img/artworks/image5.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image6.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image22.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image19.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image11.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image12.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image23.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image24.png" alt=""></li>
              <li class="artwork"><img src="/img/artworks/image25.png" alt=""></li>
            </ul>
              <div class="nav">
                <nav>
                  <button id="Contact" class="button__nav" onclick="window.location.href = '/contact';"><span>Contact</span></button><br>
                  <button id="Linkedin" class="button__nav" onclick="window.open('https://www.linkedin.com/in/bertrandtang/', '_blank')"><span>Linkedin</span></button><br>
                  <button id="Github" class="button__nav" onclick="window.open('https://github.com/BertrandTang', '_blank')"><span>Github</span></button><br>
                  <button id="Projets" class="button__nav" onclick="window.location.href ='/projets';"><span>Projets</span></button><br>
                  <button id="Profil" class="button__nav" onclick="window.location.href = '/profil';"><span>Profil</span></button><br>
                  <button id="CV" class="button__nav" onclick="window.location.href = '/carriere';"><span>Carrière</span></button><br>
                  <button id="Compétences" class="button__nav" onclick="window.location.href = '/skills';"><span>Skills</span></button><br>
                </nav>
              </div>
                <!-- Flèche de défilement -->
  <div class="scroll-up-arrow" onclick="scrollToTop()">↑</div>
</section>
    </main>
    
  </body>
  <script src="/js/menu_burger.js"></script>
  <script src="/js/scroll_top.js"></script>
  <%- include ('partials/matrix') %> 
  <%- include ('partials/footer') %>
</html>